<% include ../partials/header.ejs %>
<a href="/home">Home</a>
<br />


<p>Welcome <%= user.username %></p>
<% if(user.role == null){ %>
	<p>Your role (teacher/student) has not been defined. Nothing to view here</p>

<% }else if(user.role == "teacher"){ %>
	<p>You are a teacher</p>
<% }else if(user.role == "student"){ %>
	<p>You are a student</p>
<% } %>


<% include ../partials/footer.ejs %>