<% include ../partials/header.ejs %>
<style type="text/css">
	input{
		margin-bottom:10px;
	}
</style>

<form action="/auth/register" method="post" >
		
	<label>Username: </label>	
	<input type="text" name="username" placeholder="username" required="true" />
	<br />

	<label>Password: </label>
	<input type="password" name="password" placeholder="password" required="true"/>
	<br />

	<label>First Name: </label>
	<input type="text" name="firstName" placeholder="First Name" reuqired="true" />
	<br />

	<label>Last Name: </label>
	<input type="text" name="lastName" placeholder="Last Name" required="true"/>
	<br />

	<label>Account type:</label>
	<select name="role" >
		<option value="none">None</option>
		<option value="teacher">Teacher</option>
		<option value="student">Student</option>
	</select>
	<br />

	<input type="submit" name="submit" value="Register" />

</form>

<% // $errors must be an array  %>
<% if(errors != null){ %>
	<% for(var i = 0; i < errors.length; i++){ %>

		<p style="color:red;"><%= errors[i]; %></p>

	<% } %>
<% } %>

<br /><br />
<a href="/auth/login">Login</a>
<% include ../partials/footer.ejs %>