<style type="text/css">
#navbar{
	background-color:#673AB7;
}

nav#navbar a{
	color:white;
}

</style>
<!-- A partial to be included for logged-in users -->
<nav class="navbar navbar-expand-lg  navbar-dark" id="navbar">
	<a class="navbar-brand" href="#" >Madrassa</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="#">Courses</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Teachers</a>
			</li>
		</ul>
	</div>
</nav>